<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src='/assets/js/assert.js'></script>
    <script src="/assets/js/main.js"></script>
    <script src='/assets/js/api.js'></script>
    <link rel="stylesheet" type="text/css" href="assets/tests/qunit.css">
  </head>
  <body>
  
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script src='/assets/tests/qunit.js'></script>
    <script src='/assets/tests/apiTests.js'></script>
  </body>
</html>
